.heading {
	color: #363636;
	font-weight: 400;
	padding-left: 10px;

	span {
		color: #c93939;
	}
}

.topBar {
	margin: 20px 20px;
}

.tabsContainer {
	margin-bottom: 50px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
	margin-bottom: 50px;
}

.movieContainer {
	margin: 10px 20px;
}

.tmdbWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	.tmdb {
		width: 35%;
	}
}
