.navbar {
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: #ffffff;
	color: white;
	text-align: center;
	z-index: 10;
	padding: 13px 0;
	display: flex;
	justify-content: space-evenly;
	// box-shadow: 2px 4px 5px 0px #dbdbdb;
	box-shadow: 0px -4px 13px -7px #00000075;

	a {
		text-decoration: none;

		img {
			height: 24px;
			width: 24px;
			vertical-align: bottom;
			filter: invert(27%) sepia(13%) saturate(1156%) hue-rotate(169deg)
				brightness(97%) contrast(96%);
		}
	}
}

.linkActive {
	img {
		filter: invert(40%) sepia(81%) saturate(823%) hue-rotate(323deg)
			brightness(77%) contrast(104%);
	}
}
