.navbar {
	position: fixed;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: #ffffff;
	color: white;
	text-align: center;
	z-index: 10;
	padding: 13px 0;
	display: flex;
	justify-content: space-evenly;
	// box-shadow: 2px 4px 5px 0px #dbdbdb;
	box-shadow: 0px -4px 13px -7px #00000075;

	a {
		text-decoration: none;

		img {
			height: 24px;
			width: 24px;
			vertical-align: bottom;
		}
	}
}

.active > img {
	filter: invert(27%) sepia(27%) saturate(4534%) hue-rotate(337deg)
		brightness(99%) contrast(89%);
}
