.container {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;

	.link {
		display: flex;
	}

	img {
		width: 60px;
		border-radius: 10px;
		align-self: center;
	}

	.nameyear {
		flex-grow: 1;
		margin-left: 15px;
		color: #636363;

		p {
			font-style: italic;
			font-size: 12px;
		}

		* {
			font-weight: 400;
		}
		// margin-right: px;
	}

	svg {
		align-self: center;
		width: 24px;
		height: 24px;
	}
}
