.searchBar {
	border: 0.5px solid #c93939;
	width: 100%;
	padding: 15px;
	border-radius: 50px;
	font-family: 'Google Sans';
}

input::placeholder {
	font-weight: bold;
	font-family: 'Google Sans';
}

input:focus {
	outline: none;
}
