@import-normalize;
// @import '../node_modules/slick-carousel/slick/slick.css';
// @import '../node_modules/slick-carousel/slick/slick-theme.css';

body {
	font-family: 'Google Sans';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
