@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
	font-family: 'Varela Round';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	font-weight: 400;
}

@media only screen and (min-width: 650px) {
	#root {
		width: 650px;
		margin: 0 auto;
	}
}
